
<div class="mt-12">
<%= render partial: 'partials/user', locals: { user: @user } %>
<div class = "container sm:w-[75%] sm:ml-[16%] xs:w-[69%] xs:ml-[25%] px-3  py-2 bg-lblack flex justify-between rounded-lg">
<p class="w-[60%] break-words"><strong>Bio: </strong> <br><%= @user.bio %> </p>
<p ><%= link_to "New Post", new_user_post_path(@user),class:"text-blue" %></p>

</div>


<ul class = "post-list">
<% @user.recent_posts.each do |post| %>
    <li class = "usercontainer bio post-item">
    <span class="post-title"><%= link_to post.title, user_post_path(@user, post) %> </span><br>
    <%= render partial: 'partials/post', locals: {post: post} %>
    </li>
    <% end %>
</ul>

<%= link_to "See Posts", user_posts_path(@user), class:"bg-lblack py-1 px-3 rounded-lg border-1 text-blue absolute right-32 mt-2" %>


</div>
