
<div class="mt-12">
<%= render partial: 'partials/user', locals: { user: @user } %>
<div class = "container sm:w-[75%] sm:ml-[16%] xs:w-[69%] xs:ml-[25%] px-3  py-2 bg-lblack flex justify-between rounded-lg">
<p class="w-[60%] break-words"><strong>Bio: </strong> <br><%= @user.bio %> </p>
<p ><%= link_to "New Post", new_user_post_path(@user),class:"text-blue" %></p>

</div>


<% @user.recent_posts.each do |post| %>
    <div class = "container mt-3 sm:w-[75%] sm:ml-[16%] xs:w-[69%] xs:ml-[25%] px-3 bg-lblack  rounded-lg">
    <span class="relative top-3"><%= link_to post.title, user_post_path(@user, post),class:"text-red font-semibold text-lg" %> </span>
    <span><%= render partial: 'partials/post', locals: {post: post} %></span>
    </div>
    <% end %>
<%= link_to "See Posts", user_posts_path(@user), class:"bg-lblack py-1 px-3 rounded-lg border-1 text-blue absolute right-32 mt-3" %>



