<div class = "container mt-12 py-3 bg-lblack text-grey rounded-lg sm:w-3/5 "> 
<div class = " mx-8">
<p class="text-grey mb-3">Create new post </p>
<%= form_with(model: [@user, @post], local: true) do |form| %>
    <% if @post.errors.any? %>
    <div id="error_explanation">
    <h3><% pluralize(@post.errorr.count, "error") %> Prohibated this post from being saved:</h3>
    <ul>
    <% @post.errors.full_message.each do |message| %>
        <li><%= message %> </li>
        <% end %>
        </ul>
    </div>
<%end %>

<div class = "mb-3"> 
<%= form.text_field :title, placeholder:"Title", class:"w-full sm:w-1/2 rounded-lg text-dblack" %>
</div>
<div class = ""> 
<%= form.text_area :text, rows:10, cols:90, placeholder:"Write your post here...", class:"w-full rounded-lg text-dblack" %>
</div>
<div class = "actions"> 
<%= form.submit "Create post", class: "text-blue  hover:text-red"  %>
</div>
<% end %>
</div>
</div>