<div class="users-container">
  

  <div > 
  <span class ="postby"><strong>Post by:</strong> <%= @post.author.name %></span>
  <span class="num-posts comment-like">Comments:  <%= @post.comments_counter %></span>
  <span class = "num-posts comment-like">&nbsp;Likes: <%= @post.likes_counter %></span>
 <div class= "all-text"> 
 <h4 style="margin-left:1%"><%= @post.title %> </h4>
  <p><%= @post.text %></p>
 
  </div>
  <div class="comment-like-container">
  <%= link_to "Add a Comment", new_post_comment_path(@post) %>
  <%= render 'partials/like' %>
  </div>
  </div>
  <div class = "usercontainer bio comment-section comment-section1">
     
  <% @post.comments.each do |comment| %>
    <p>
      <%= comment.author.name %>: <%= comment.text %>
    </p>
    <% if can? :destroy, comment %>
      <%= button_to 'Delete', post_comment_path(@post, comment),  class:"btn-delete btn-del-comment" , method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
    </div>
  
  </ul>
  
</div>
