<div class = "container sm:flex sm:w-3/5 gap-3 mt-12 ">
<span class ="">
<% if @user.photo.present? %>
<%= image_tag @user.photo, alt: 'User Photo', class:"w-12 h-12 rounded-[50%]" %>
<span class="text-center"><%= @post.author.name%></span>

<% else %>
<%= image_tag 'https://placehold.co/64x64', alt: 'Placeholder', class:"rounded-full" %>
<span class="text-center"><%= @post.author.name %></span>
<% end %>
</span>
<div class="bg-lblack rounded-lg  justify-between w-full h-auto">
<span class="flex justify-end mr-3 mt-1 text-sm">Comments:  <%= @post.comments_counter %>
  &nbsp;Likes: <%= @post.likes_counter %></span>
 <h2 class="text-center text-xl font-semibold"><%= @post.title %> </h2>
  <p class="md:text-justify mx-3 mt-3 break-words"><%= @post.text %></p>
  
  <span class="flex justify-end gap-3 mr-3 mt-3 text-base"><%= link_to "Add a Comment", new_post_comment_path(@post),class:"text-yellow bg-dblack px-3 rounded-lg mb-1 " %>
  <%= render 'partials/like' %></span>
  </div>
  </div>


      <div class = "container mt-3 sm:w-[40%] sm:ml-[25%] xs:w-[87%] xs:ml-[7%] px-3 bg-lblack  rounded-lg">
     
  <% @post.comments.each do |comment| %>
    <div class="flex justify-between">
      <%= comment.author.name %>: <%= comment.text %>

    <% if can? :destroy, comment %>
      <span><%= button_to 'Delete', post_comment_path(@post, comment),  class:"text-[#dc3545] hover:text-grey" , method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    <% end %>  </div>

  <% end %>

    </div>
   
  

  

