<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    
    <%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <nav>
  <% if user_signed_in? %>
  <span class="sign"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span>
 
  <% else %>

<span class="sign"><%= link_to 'Sign in', new_user_session_path %></span>
<span class="sign"><%= link_to 'Sign up', new_user_registration_path %></span>
 <% end %>
 </nav>
    <%= yield %>
  </body>
</html>
